$imgPath: '/img/';
$trans: 300ms ease-in-out;

$font-base: 'TT Hoves', sans-serif;
$fancy-heading: 'Galio Sans', sans-serif;

$white: #ffffff;
$black: #000000;
$yellow: #f5f09d;
$green: #cff0ba;
$pink: #f9dada;

$primary-dark-purple: #39145d;
$light-blue: #dbeafa;
$secondary-light-blue: #eff6fd;
$primary-blue: #96c8f0;
$primary-purple: #a7a0f0;
$secondary-light-purple: #f0f0fb;
$error-red: #e85b39;

$pale-grey: #f0f0fb;
