.details-list {
    display: flex;

    @include mobile {
        flex-direction: column;
    }
    &__item {
        max-width: 20rem;
        padding-right: 2.5rem;

        @include mobile {
            max-width: 18rem;
            padding-right: 0;
        }
        &:not(:first-of-type) {
            padding-left: 2.5rem;
            border-left: 1px solid rgba($primary-dark-purple, 0.15);
            @include mobile {
                padding-left: 0;
                border: none;
                margin-top: 0.6rem;
            }
        }

        &:first-of-type {
            min-width: 2rem;
        }
        &:nth-of-type(2) {
            min-width: 14rem;
        }
        &:nth-of-type(3) {
            min-width: 14rem;
        }
    }
    &__heading {
        margin-bottom: 0.7rem;
        opacity: 0.4;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.43;
        color: $primary-dark-purple;
        @include mobile {
            font-size: 1.3rem;
            line-height: 1.54;
            margin-bottom: 0.3rem;
        }
    }

    .text-block {
        font-weight: 500;
        @include mobile {
            font-size: 1.3rem;
            line-height: 1.54;
        }
    }
}
