.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 4rem;

    @include mobile {
        padding-right: 3rem;
    }

    &:not(.dropdown--clickable):hover {
        .dropdown__arrow {
            transform: rotate(180deg);
        }
        .dropdown__content {
            transform: scaleY(1);
            pointer-events: auto;
            visibility: visible;
        }
    }

    &__label {
        display: inline-block;
        cursor: pointer;
        user-select: none;
        position: relative;
        padding-right: 2.2rem;
    }

    &__arrow {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: transform $trans;

        svg {
            width: 1.4rem;
            height: 0.6rem;
        }

        &--type-2 {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            backface-visibility: hidden;

            &:hover {
                svg {
                    circle {
                        fill: $primary-dark-purple;
                    }
                    path {
                        fill: $white;
                    }
                }
            }
            svg {
                width: 2.8rem;
                height: auto;
                transition: transform $trans;
                backface-visibility: hidden;
                circle {
                    stroke: $primary-dark-purple;
                    fill: transparent;
                    transition: fill $trans;
                }
                path {
                    fill: $primary-dark-purple;
                    transition: fill $trans;
                }
            }
        }
    }

    &__content {
        // display: none;
        position: absolute;
        padding-top: 1.3rem;
        transform-origin: center top;
        transform: scaleY(0);
        pointer-events: none;
        visibility: hidden;
        transition: transform $trans, visibility $trans;
        z-index: 2;
    }

    &--lang {
        @include mobile {
            &::before {
                content: '';
                display: block;
                width: calc(100% + 2rem);
                height: calc(100% + 2rem);
                transform: translate(-25%, -25%);
                position: absolute;
            }
        }

        .dropdown__label {
            font-size: 1.8rem;
        }

        .dropdown__content {
            width: 6.5rem;
            left: -1.5rem;
            padding: 1.5rem;
            background-color: $white;
            margin-top: 1rem;
            box-shadow: 0 2px 1rem 0 rgba(57, 20, 93, 0.08);
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 1.5rem;
                top: -1.5rem;
                left: 0;
            }
        }

        a {
            position: relative;
            display: inline-block;
            &:after {
                content: '';
                display: block;
                width: calc(100% + 2rem);
                height: calc(100% + 0.6rem);
                position: absolute;
                top: 50%;
                left: 75%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &--isOpen {
        .dropdown__arrow {
            transform: rotate(180deg);
        }
        .dropdown__content {
            transform: scaleY(1);
            pointer-events: auto;
            visibility: visible;
        }
    }

    &[data-dropdown-state='open'] {
        .dropdown__arrow {
            transform: rotate(180deg);
        }
    }

    &[data-dropdown-state='closed'] {
        .dropdown__arrow {
            transform: rotate(0);
        }
    }
}
